In [58]:
import pandas as pd
import time
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [30]:
df = pd.read_csv('sift_features2.csv', header = None)

In [31]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,4992,4993,4994,4995,4996,4997,4998,4999,5000,5001
0,chicken_0001,0.000000,0.000000,0.000000,0.0,0.000511,0.0,0.000511,0.0,0.000000,...,0.000000,0.001022,0.0,0.0,0.0,0.0,0.000511,0.000511,0.0,1
1,chicken_0002,0.000000,0.001012,0.000337,0.0,0.000337,0.0,0.000000,0.0,0.000000,...,0.000000,0.000337,0.0,0.0,0.0,0.0,0.000675,0.000000,0.0,1
2,chicken_0003,0.000000,0.001043,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.001043,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,1
3,chicken_0004,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,1
4,chicken_0005,0.001071,0.000000,0.000714,0.0,0.000000,0.0,0.000357,0.0,0.000000,...,0.000357,0.000357,0.0,0.0,0.0,0.0,0.000357,0.000000,0.0,1

In [39]:
df2 = df.iloc[:, 1:5001]

In [40]:
df2.head()

,1,2,3,4,5,6,7,8,9,10,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,0.000000,0.000000,0.000000,0.0,0.000511,0.0,0.000511,0.0,0.000000,0.001022,...,0.0,0.000000,0.001022,0.0,0.0,0.0,0.0,0.000511,0.000511,0.0
1,0.000000,0.001012,0.000337,0.0,0.000337,0.0,0.000000,0.0,0.000000,0.000337,...,0.0,0.000000,0.000337,0.0,0.0,0.0,0.0,0.000675,0.000000,0.0
2,0.000000,0.001043,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.001043,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
4,0.001071,0.000000,0.000714,0.0,0.000000,0.0,0.000357,0.0,0.000000,0.000000,...,0.0,0.000357,0.000357,0.0,0.0,0.0,0.0,0.000357,0.000000,0.0

In [60]:
x = list(map(list, df2.values))

In [61]:
df3 = df.loc[:, 5001:]
y = df3.values.tolist()
y = [i for sub in y for i in sub]

In [62]:
start = time.time()
score = []
for i in range(50):
    clf = RandomForestClassifier(n_estimators=10*(i+1), min_samples_split=2, random_state=0)
    scores = cross_val_score(clf, x, y, cv = 5)
    score.append(scores.mean())
    print(str(i) + ": " + str(scores.mean()))
    print("Time elapsed: " + str(time.time() - start) + "sec.\n")

0: 0.6075
Time elapsed: 7.757181167602539sec.

1: 0.6225
Time elapsed: 16.309421062469482sec.

2: 0.644
Time elapsed: 26.220689058303833sec.

3: 0.6455
Time elapsed: 38.63410401344299sec.

4: 0.6395
Time elapsed: 52.43593406677246sec.

5: 0.6525
Time elapsed: 66.70021200180054sec.

6: 0.6625
Time elapsed: 82.43255019187927sec.

7: 0.662
Time elapsed: 99.69067716598511sec.

8: 0.658
Time elapsed: 118.46706223487854sec.

9: 0.6705
Time elapsed: 138.93210315704346sec.

10: 0.675
Time elapsed: 160.71726822853088sec.

11: 0.67
Time elapsed: 186.8562331199646sec.

12: 0.685
Time elapsed: 212.89217019081116sec.

13: 0.6835
Time elapsed: 239.2357850074768sec.

14: 0.6835
Time elapsed: 267.7151141166687sec.

15: 0.6915
Time elapsed: 296.8134620189667sec.

16: 0.6915
Time elapsed: 328.2311141490936sec.

17: 0.686
Time elapsed: 360.08449721336365sec.

18: 0.692
Time elapsed: 398.90106105804443sec.

19: 0.683
Time elapsed: 433.956267118454sec.

20: 0.6815
Time elapsed: 469.7221140861511sec.

21: 0.6915
Time elapsed: 507.0771632194519sec.

22: 0.6905
Time elapsed: 548.9244270324707sec.

23: 0.69
Time elapsed: 596.410863161087sec.

24: 0.6905
Time elapsed: 647.1227991580963sec.

25: 0.6925
Time elapsed: 712.8011240959167sec.

26: 0.692
Time elapsed: 765.5610091686249sec.

27: 0.6875
Time elapsed: 826.1739671230316sec.

28: 0.6925
Time elapsed: 881.6368100643158sec.

29: 0.69
Time elapsed: 932.7655160427094sec.

30: 0.6945
Time elapsed: 984.7990942001343sec.

31: 0.6915
Time elapsed: 1039.0486540794373sec.

32: 0.6895
Time elapsed: 1094.5850660800934sec.

33: 0.6885
Time elapsed: 1156.7956540584564sec.

34: 0.6875
Time elapsed: 1222.7695190906525sec.

35: 0.69
Time elapsed: 1290.384526014328sec.

36: 0.688
Time elapsed: 1368.9173982143402sec.

37: 0.688
Time elapsed: 1445.0989711284637sec.

38: 0.689
Time elapsed: 1518.2585980892181sec.

39: 0.6905
Time elapsed: 1596.5394871234894sec.

40: 0.692
Time elapsed: 1676.8778400421143sec.

41: 0.6885
Time elapsed: 1752.1258661746979sec.

42: 0.6945
Time elapsed: 1825.9333140850067sec.

43: 0.6925
Time elapsed: 1904.8327791690826sec.

44: 0.692
Time elapsed: 1985.973645210266sec.

45: 0.6905
Time elapsed: 2064.115424156189sec.

46: 0.693
Time elapsed: 2143.3018431663513sec.

47: 0.6955
Time elapsed: 2236.3773760795593sec.

48: 0.6965
Time elapsed: 2350.2649421691895sec.

49: 0.696
Time elapsed: 2437.9537711143494sec.

In [ ]:
clf = RandomForestClassifier(n_estimators=20, min_samples_split=2, random_state=0)
model = clf.fit(cnt_email, y)
type(model)